@using Escc.PhotoConsent.Models.DataModels
@model Dictionary<string, string>

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

@{
    var ModalID = string.Format("EditPhotographerModal{0}", Model["PhotographerID"]);
}

<div class="text-center">
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#@ModalID">
        Edit
    </button>
</div>

@using (Html.BeginForm("EditPhotographer", Model["Controller"], FormMethod.Post))
{
    @Html.Hidden(Model["FormID"])
    @Html.Hidden(Model["FormGUID"])
    <div class="form-group">
        <div class="modal fade" id="@ModalID" tabindex="-1" role="dialog" aria-labelledby="EditPhotographerModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-warning">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="EditPhotographerModalLabel">Edit Photographer</h4>
                    </div>
                    <div class="modal-body">
                        @{
                            PhotographerModel FormModel = new PhotographerModel();
                            FormModel.FormID = int.Parse(Model["FormID"]);
                            FormModel.FormGUID = Guid.Parse(Model["FormGUID"]);
                            FormModel.PhotographerID = int.Parse(Model["PhotographerID"]);
                            FormModel.Name = Model["PhotographerName"];
                            FormModel.Email = Model["PhotographerEmail"];
                            FormModel.ContactNumber = Model["PhotographerContactNumber"];
                        }
                        @{Html.RenderPartial("~/Views/Partials/Photographers/_Photographer.cshtml", FormModel);}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-warning" value="Edit" />
                    </div>
                </div>
            </div>
        </div>
    </div>
                            }
