@{
    Layout = "~/Views/Shared/_ConsentFormLayout.cshtml";
}
@using System.Configuration;
@model Escc.PhotoConsent.Models.ViewModels.FormViewModel

@{
    var FormDictionary = new Dictionary<string, string>();
    FormDictionary.Add("Controller", "Form");
    FormDictionary.Add("FormID", Model.Form.FormID.ToString());
    FormDictionary.Add("FormGUID", Model.Form.GUID.ToString());

    Tuple<string, Escc.PhotoConsent.Models.ViewModels.FormViewModel> AccordionTuple = new Tuple<string, Escc.PhotoConsent.Models.ViewModels.FormViewModel>("Form", Model);
}


<p></p>
<div class="row">
    <p></p>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> GDPR / Instructions</div>
            <div class="panel-body">
                <div class="row well-sm">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non massa et nisi viverra efficitur. Aenean pulvinar accumsan nibh, nec pharetra enim convallis ut. Mauris eu odio non massa dignissim sagittis non a diam. Proin viverra lobortis condimentum. Quisque eu turpis venenatis, eleifend nibh sed, faucibus augue. Praesent ornare pulvinar nibh, et dictum felis imperdiet quis. </p>
                </div>
                <div class="row well-sm">
                    <ul>
                        <li>Click the <b>'Create New Participant'</b> button to get started.</li>
                        <li>Enter the participants details and ensure they are correct. Then click the <b>Create</b> button to continue.</li>
                        <li>Next click the <b>Upload</b> button below the empty image icon of the newly created particpant and choose a photo to upload.</li>
                        <li>Repeat the first 3 steps for each participant.</li>
                        <li>When your ready, tick the consent checkbox at the bottom of this form and click the <b>Submit</b> button</li>
                    </ul>
                </div>
                <div class="row well-sm">
                    <p><b>Hint:</b> You can click on a participants name to collapse or open their panel.</p>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.ErrorMessage.Count != 0)
{
    foreach (var Error in Model.ErrorMessage)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @Error
        </div>
    }
}

<div class="row">
    <div class="col-sm-9 col-md-9 col-lg-9">
        <div class="panel panel-primary">
            <div class="panel-heading"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
            <div class="panel-body">
                <div class="row">
                    @if (Model.Participants.Count == 0)
                    {
                        <p class="text-center"><b>No Participants have been added to this form. Please add at least one.</b></p>
                    }
                    else
                    {
                        Html.RenderPartial("~/Views/Partials/Participants/_ParticipantAccordion.cshtml", AccordionTuple);
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <div class="panel panel-success">
            <div class="panel-heading"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Participant</div>
            <div class="panel-body">
                @{Html.RenderPartial("~/Views/Partials/Participants/_ParticipantForm.cshtml", FormDictionary);}
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("FormSubmission", "Form", FormMethod.Post))
{
    @Html.Hidden("FormID", Model.Form.FormID);
    @Html.Hidden("FormGuid", Model.Form.GUID);
    <div class="row">
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="panel panel-warning">
                <div class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Consent</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-8 col-md-8 col-lg-8 well-sm col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                            <p><b>I agree to my participation in this photoshoot/video</b></p>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 ">
                            @Html.CheckBox("ConsentGiven", false, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="panel panel-primary">
                <div class="panel-heading"><span class="glyphicon glyphicon-save-file" aria-hidden="true"></span> Submit Form</div>
                <div class="panel-body text-center">
                    <input type="submit" class="btn btn-primary" value="Submit" />
                </div>
            </div>
        </div>
    </div>

}