@{
    Layout = "~/Views/Shared/_ConsentFormLayout.cshtml";
}
@using System.Configuration;
@model Escc.PhotoConsent.Models.ViewModels.FormViewModel

@{
    var FormDictionary = new Dictionary<string, string>();
    FormDictionary.Add("Controller", "Form");
    FormDictionary.Add("FormID", Model.Form.FormID.ToString());
    FormDictionary.Add("FormGUID", Model.Form.GUID.ToString());
}
<p></p>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-warning">
            <div class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> GDPR / Instructions</div>
            <div class="panel-body">
                <div class="row well-sm">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non massa et nisi viverra efficitur.
                    Aenean pulvinar accumsan nibh, nec pharetra enim convallis ut. Mauris eu odio non massa dignissim sagittis non a diam.
                    Proin viverra lobortis condimentum. Quisque eu turpis venenatis, eleifend nibh sed, faucibus augue. Praesent ornare pulvinar nibh, et dictum felis imperdiet quis.
                    Cras congue cursus consectetur. Quisque elit nulla, commodo vitae congue et, dapibus id mauris. Sed eleifend leo mauris, id aliquam nibh rhoncus a.
                    Maecenas non rhoncus dui. Ut lorem magna, iaculis et rutrum non, pharetra at augue. Donec volutpat odio ac ultrices dapibus. Vivamus id ullamcorper tortor.
                    Vestibulum dignissim auctor turpis in volutpat. In feugiat congue sem, eget rhoncus est sollicitudin eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-9 col-md-9 col-lg-9">
        <div class="panel panel-primary">
            <div class="panel-heading"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
            <div class="panel-body">
                <div class="row">
                    @if (Model.Participants.Count == 0)
                    {
                        <p class="text-center"><b>No Participants have been added to this form. Please add at least one.</b></p>
                    }
                    else
                    {
                        Html.RenderPartial("~/Views/Partials/Participants/_ParticipantAccordion.cshtml", Model);
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <div class="panel panel-success">
            <div class="panel-heading"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Participant</div>
            <div class="panel-body">
                @{Html.RenderPartial("~/Views/Partials/Participants/_ParticipantForm.cshtml", FormDictionary);}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-9 col-md-9 col-lg-9">
        <div class="panel panel-primary">
            <div class="panel-heading"><span class="glyphicon glyphicon-tower" aria-hidden="true"></span></div>
            <div class="panel-body">
                <div class="row">
                    @if (Model.Officers.Count == 0)
                    {
                        <p class="text-center"><b>No Commissioning Officers have been added to this form. Please add at least one.</b></p>
                    }
                    else
                    {
                        Html.RenderPartial("~/Views/Partials/CommOfficers/_CommOfficerAccordion.cshtml", Model);
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <div class="panel panel-success">
            <div class="panel-heading"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Commissioning Officer</div>
            <div class="panel-body">
                @{Html.RenderPartial("~/Views/Partials/CommOfficers/_CommOfficerForm.cshtml", FormDictionary);}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-9 col-md-9 col-lg-9">
        <div class="panel panel-primary">
            <div class="panel-heading"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></div>
            <div class="panel-body">
                <div class="row">
                    @if (Model.Photographers.Count == 0)
                    {
                        <p class="text-center"><b>No Photographers have been added to this form. Please add at least one.</b></p>
                    }
                    else
                    {
                        Html.RenderPartial("~/Views/Partials/Photographers/_PhotographerAccordion.cshtml", Model);
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <div class="panel panel-success">
            <div class="panel-heading"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Photographer</div>
            <div class="panel-body">
                @{Html.RenderPartial("~/Views/Partials/Photographers/_PhotographerForm.cshtml", FormDictionary);}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-9 col-md-9 col-lg-9">
        <div class="panel panel-success">
            <div class="panel-heading"><span class="glyphicon glyphicon-save-file" aria-hidden="true"></span> Submit Form</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 well-sm">
                        <p><b>I agree to my participation in this photoshoot/video</b></p>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 ">
                        @Html.CheckBoxFor(x => x.Form.ConsentGiven, new { @class = "form-control" })
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </div>                
                </div>
            </div>
        </div>
    </div>
</div>

