@{
    Layout = "~/Views/Shared/_ConsentFormLayout.cshtml";
}

<p></p>
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Submission Successful!</h3>
    </div>
    <div class="panel-body">
        <div class="row well-sm">
            <b>Your consent has been successfully submitted!</b>
        </div>
        <div class="row well-sm">
            If you believe you have made a mistake or wish to make an amendment then please contact us at: <a href="mailto:something@example.com">something@example.com</a>
        </div>
    </div>
</div>