@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var FormDictionary = new Dictionary<string, string>
        ();
    FormDictionary.Add("Controller", "Admin");
    FormDictionary.Add("FormID", "1");
    FormDictionary.Add("FormGUID", "00000000-0000-0000-0000-000000000000");
}
@model Escc.PhotoConsent.Models.ViewModels.ManagePhotographerViewModel



<p></p>
<div class="row">
    <div class="col-sm-9 col-md-9 col-lg-9">
        <div class="panel panel-warning">
            <div class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Manage Photographers </div>
            <div class="panel-body">
                <ul>
                    <li> Any time you <b>create</b> a new photographer, they will appear here and become <b>reusable</b> as an existing photographer.</li>
                    <li> If you <b>edit</b> a photographer on a form or from this section, it will <b>update all</b> instances of that photographer.</li>
                    <li> If you wish to <b>delete</b> a photographer, you must first make sure that photographer is <b>not in use</b> on any forms, the delete button will then appear on that photographers page.</li>
                    <li> Click the <b>view</b> button next to a photographers name to be able to see what forms they are on, and to edit or delete them.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Forms/Comm Officers</div>
                <div class="panel-body">
                    @Html.RouteLink("View All Forms ", "ManageForms", new { }, new { @class = "btn btn-primary" })
                    @Html.RouteLink("Comm Officers", "ManageCommOfficers", new { }, new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Photographer</div>
                <div class="panel-body">
                    @{Html.RenderPartial("~/Views/Partials/Photographers/_PhotographerForm.cshtml", FormDictionary);}
                </div>
            </div>
        </div>
    </div>
</div>

<p></p>
<div class="row">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Photographers</h3>
        </div>
        <div class="panel-body">
            @{Html.RenderPartial("~/Views/Partials/_DataTable.cshtml", Model.Photographers);}
        </div>
    </div>
</div>

