@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var FormDictionary = new Dictionary<string, string>
        ();
    FormDictionary.Add("Controller", "Admin");
    FormDictionary.Add("FormID", "1");
    FormDictionary.Add("FormGUID", "00000000-0000-0000-0000-000000000000");
}
@model Escc.PhotoConsent.Models.ViewModels.ManageCommOfficerViewModel



<p></p>
<div class="row">
    <p></p>
    <div class="col-sm-9 col-md-9 col-lg-9">
        <div class="panel panel-danger">
            <div class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Manage Commissioning Officers </div>
            <div class="panel-body">
                <ul>
                    <li> Any time you <b>create</b> a new commissioning officer, they will appear here and become <b>reusable</b> as an existing comissioning officer.</li>
                    <li> If you <b>edit</b> a commissioning officer on a form or from this section, it will <b>update all</b> instances of that officer.</li>
                    <li> If you wish to <b>delete</b> a commissioning officer, you must first make sure that officer is <b>not in use</b> on any forms, the delete button will then appear on that officers page.</li>
                    <li> Click the <b>view</b> button next to a commissioning officers name to be able to see what forms they are on, and to edit or delete them.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <div class="row">
            <div class="panel panel-default text-center">
                <div class="panel-heading"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Forms/Photographers</div>
                <div class="panel-body">
                    @Html.RouteLink("View All Forms ", "ManageForms", new { }, new { @class = "btn btn-info" })
                    @Html.RouteLink("Photographers", "ManagePhotographers", new { }, new { @class = "btn btn-warning" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Commissioning Officer</div>
                <div class="panel-body">
                    @{Html.RenderPartial("~/Views/Partials/CommOfficers/_CommOfficerForm.cshtml", FormDictionary);}
                </div>
            </div>
        </div>
    </div>
</div>

<p></p>
<div class="row">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-tower" aria-hidden="true"></span> Commissioning Officers</h3>
        </div>
        <div class="panel-body">
            @{Html.RenderPartial("~/Views/Partials/_DataTable.cshtml", Model.Officers);}
        </div>
    </div>
</div>

