@using Escc.PhotoConsent.Models.DataModels
@model Dictionary<string, string>

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<div class="text-center">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#CreatePhotographerModal">
        Create New Photographer
    </button>
</div>

@using (Html.BeginForm("CreatePhotographer", Model["Controller"], FormMethod.Post))
{
    @Html.Hidden(Model["FormID"])
    @Html.Hidden(Model["FormGUID"])
    <div class="form-group">
        <div class="modal fade" id="CreatePhotographerModal" tabindex="-1" role="dialog" aria-labelledby="CreatePhotographerModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="CreatePhotographerModalLabel">Create New Photographer</h4>
                    </div>
                    <div class="modal-body">
                        @{
                            PhotographerModel FormModel = new PhotographerModel();
                            FormModel.FormID = int.Parse(Model["FormID"]);
                            FormModel.FormGUID = Guid.Parse(Model["FormGUID"]);
                        }
                        @{Html.RenderPartial("~/Views/Partials/_Photographer.cshtml", FormModel);}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </div>
                </div>
            </div>
        </div>
    </div>
                            }
